.venv/
__pycache__/
*.py[cod]
.vscode/
.agents/
logs/
*.csv

# Keep directories in Git but ignore their contents (using .gitkeep)
/results/*
!/results/.gitkeep
!/results/ppo_config_a4/
/results/ppo_config_a4/*
!/results/ppo_config_a4/*.png
!/results/ppo_config_a4/config.json
!/results/ppo_config_a4/update_log.csv
!/results/ppo_config_a4/episode_log.csv
!/results/ppo_config_a4_evaluation/
!/results/ppo_config_a4_evaluation/**
!/results/img/
!/results/img/**

/models/*
!/models/.gitkeep
!/models/ppo_config_a4/
/models/ppo_config_a4/*
!/models/ppo_config_a4/ppo_config_a4_best.pt

/external/*
!/external/.gitkeep

